{% extends "base_admin.html" %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold"> Multas Registradas</h2>
    <a href="{% url 'crear_multa' %}" class="btn btn-primary shadow-sm">
      <i class="bi bi-plus"></i> Crear Multa
    </a>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col"><i class="bi bi-person-fill"></i>  Socio</th>
          <th scope="col"><i class="bi bi-journal-bookmark"></i>Préstamo</th>
          <th scope="col"><i class="bi bi-currency-exchange"></i> Costo Adicional</th>
          <th scope="col"><i class="bi bi-pencil-square"></i>Observación</th>
          <th scope="col"><i class="bi bi-gear"></i> Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for multa in multas %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ multa.socio.nombre }}</td>
          <td>{{ multa.prestamo.id }}</td>
          <td>${{ multa.costo_adicional }}</td>
          <td>{{ multa.observacion }}</td>
          <td>
            <a href="{% url 'detalle_multa' multa.id %}" class="btn btn-info btn-sm me-1">
              <i class="bi bi-eye-fill"></i> Ver
            </a>
           
            <form method="POST" action="{% url 'eliminar_multa' multa.id %}" style="display:inline;">
              {% csrf_token %}
                <a href="{% url 'eliminar_multa' multa.id %}" class="btn btn-danger btn-sm">
                   Eliminar
                </a>

            </form>

          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center text-muted py-4">
            No hay multas registradas.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
