<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis" href="/">
        <i class="fa-solid fa-house me-2"></i>
        <span class="visually-hidden">Inicio</span>
      </a>
    </li>

    <li class="breadcrumb-item">
      <a
        class="link-body-emphasis fw-semibold text-decoration-none"
        href="{{ request.path }}"
      >
        Library
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<script>
  $(document).ready(function () {
    const path = "{{ request.path }}";
    const [first, second] = path.split("/").filter(Boolean);

    function capitalize(word) {
      return word ? word.charAt(0).toUpperCase() + word.slice(1) : "";
    }

    $(".breadcrumb-item .link-body-emphasis").last().text(capitalize(first));
    $(".breadcrumb-item.active").text(capitalize(second));
  });
</script>
