<nav class="navbar navbar-expand-lg bg-primary shadow-sm">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand d-flex flex-column text-white" href="/">
      <div class="d-flex align-items-center gap-2">
        <i class="fa-solid fa-book-open-reader fa-lg"></i>
        <span class="fs-3 fw-semibold">Bookify</span>
      </div>
      <span style="font-size: 0.8rem">Biblioteca digital</span>
    </a>

    <div class="text-end text-white">
      <div class="d-flex">
        <div class="d-none d-md-block" style="font-size: 0.8rem">
          <div>Acceso rápido a tus libros</div>
          <div>Gestión eficiente de préstamos</div>
        </div>
        <button
          id="theme-toggle"
          class="btn btn-outline text-white ms-3"
          title="Cambiar tema"
        >
          <i class="fas fa-moon" id="theme-icon"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
