{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Socios Registrados</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>N</th>
                <th>Nombre</th>
                <th>CI</th>
                <th>Dirección</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Cancelar Suscripción</th>
            </tr>
        </thead>
        <tbody>
            {% for socio in socios %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ socio.nombre }}</td>
                <td>{{ socio.ci }}</td>
                <td>{{ socio.direccion }}</td>
                <td>{{ socio.correo }}</td>
                <td>{{ socio.celular }}</td>
                <td>
                    <a href="{% url 'eliminar_socio' socio.id %}" class="btn btn-danger btn-sm"
                    onclick="return confirm('¿Estás seguro de que deseas eliminar este socio?');">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
