{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.2/af-2.7.0/b-3.2.3/r-3.0.4/datatables.min.css"
      rel="stylesheet"
      integrity="sha384-byoPOcmP1G2alL/qcqko6CEn5z7PiRJt2shDb8MRnXNMqdX9eH9cN8bhGit5Ldxe"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <title>{% block title %}Bookify {% endblock %}</title>
  </head>
  <body data-bs-theme="light">
    <div class="d-flex">
      {% include "partials/sidebar.html" %}

      <div class="d-flex flex-column flex-grow-1 vh-100 overflow-auto">
        {% include "partials/breadcrumb.html" %}
        <main>{% block content %}{% endblock %}</main>
        {% include "partials/footer.html" %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.2/af-2.7.0/b-3.2.3/r-3.0.4/datatables.min.js"
      integrity="sha384-Y9ONQsTWIBs7F/dh1eLbp3Qcnxm8VDL9lC1CcV4JSsc8iPP+dOhepVJV+XnMY5YB"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
