{% extends "base_admin.html" %} {% block title %}Detalle del
Préstamo{%endblock%} {% block content %}
<h2>Detalle del Préstamo</h2>
<p><strong>Libro:</strong> {{ prestamo.libro.titulo }}</p>
<p><strong>Autor:</strong> {{ prestamo.libro.autor }}</p>
<p><strong>Precio:</strong> {{ prestamo.libro.costo }} Bs.</p>
<p><strong>Socio (ID):</strong> {{ prestamo.socio.id }}</p>
<p><strong>Socio (Detalles):</strong> {{ prestamo.socio }}</p>
<p><strong>Fecha de Préstamo:</strong> {{ prestamo.fecha_prestamo }}</p>
<p><strong>Fecha de Devolución:</strong> {{ prestamo.fecha_devolucion }}</p>
<p><strong>Fecha Límite:</strong> {{ prestamo.fecha_limite }}</p>
<p><strong>Costo calculado:</strong> {{ prestamo.calcular_costo }} Bs.</p>
<a href="{% url 'listar_prestamo' %}" class="btn btn-secondary">Volver</a>
{% endblock %}
